# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.local

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Database
# ==========================
*.db
*.sqlite3

# ==========================
# Uploaded Files
# ==========================

!uploads/profile/.gitkeep
reports/*
!reports/.gitkeep



# ==========================
# Chroma Vector Database
# ==========================
chroma_db/

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Docker
# ==========================
docker-compose.override.yml

# ==========================
# Alembic
# ==========================
# Keep migrations in Git
# Do NOT ignore migrations/

